.MathJax {
    font-size: 120% !important;
}

/* Specific styles for inline math */
.MathJax_SVG_Display {
    display: inline;
    font-size: 120% !important;
}

/* Specific styles for block math */
.MathJax_SVG_Display {
    display: block;
    font-size: 140% !important;
    margin: 1em 0;
}